* {
    margin: 0;
    padding: 0;
}

body {
    
    font-family: 'Tilt Neon', sans-serif;
    font-family: 'Ubuntu', sans-serif;
    background:#80808014;
}



.container .title {
    color: black;
    text-align: center;
}

.container .underline {
    width: 4rem;
    height: 0.25rem;
    background: rgb(102, 102, 189);
    margin: 0 auto;
    border-radius: .5rem;
}
article{
    width:30rem;
    height:30rem;
    margin: 3rem auto;
    border: 2px solid transparent;
    background: #ceeeef;
    box-shadow: lightgrey 1em 1em 1em  ;
   
}
article:hover{
    box-shadow: grey 1em 1em 1em;
    transition:linear .5s;
}
.img-container{
    overflow: hidden;
    padding :1rem;
}
article img{
    width:10rem;
    height:10rem;
    border-radius:100%;
    box-shadow:teal 10px -8px; 
   

}
article div,h4,p{
    text-align: center;
}


article span{
    position: relative;
    top: -8rem;
    left: -9rem
 
}
article svg{
    color:teal;
    font-size:1.5rem;
}
.job{
    text-transform: uppercase;
    color: #016c6c;
    font-weight: 800;
}
button{
    color: white;
    border: none;
    border-radius: 1rem;
    background-color: teal;
    margin: 1rem;
    padding: 6px;
}
button:hover{
    background-color:  rgb(4, 86, 86);
}
.random{
    text-align: center;
    margin-top: 0em;
}

