*{
  margin:0;
  padding:0;

}
main{
  display:flex;
}
main h1{
  margin:1rem;
  width:20rem;
}
button{
  position: absolute;
  right: 0rem;
  border:none;
  background-color: lightgray;
}
button svg{
  font-size: 2rem;
  border:none;
}
section{
  width:600px;
  position:relative;
}
.single-question{
  margin-top: 1em;
  border:transparent;
  background:lightgray;
  box-shadow:grey .5rem .5rem .5rem;
  padding: 1rem;
 
}
.single-question h2{
  display: inline;
}